<h2 class="dialog-title">Partner Information</h2>
<div class="back-button-wrapper">
  <button class="back-btn" (click)="goBackToPartnersList()">
    ← Back to Partners List
  </button>
</div>

<div class="dialog-content">
  <div class="partner-info">
    <div class="photo-container">
        <img [src]="partner.photoUrl" alt="Partner Photo" class="partner-photo" />
      </div>
          
    <p><strong class="bold-text">Name:</strong> {{ partner.name }}</p>
    <p><strong class="bold-text">Email:</strong> {{ partner.email }}</p>
    <p><strong class="bold-text">Phone:</strong> {{ partner.phoneNumber }}</p>
    <p><strong class="bold-text">Verified phone:</strong> {{ partner.isPhoneVerified }}</p>
    <p><strong class="regions">Regions:</strong> </p>
    <div *ngFor="let region of regionsList" class="region-block">
        <div class="region-row">
          <p><strong class="bold-text">Country Code:</strong> {{ region.countryCode }}</p>
          <p><strong class="bold-text">Country:</strong> {{ region.country }}</p>
          <p><strong class="bold-text">City:</strong> {{ region.city }}</p>
        </div>
      </div>
 
      
    <button 
      class="toggle-btn"
      [ngClass]="showExtraDetails ? 'less-details' : 'extra-details'"
      (click)="toggleExtraDetails()">
      {{ showExtraDetails ? 'Less Details' : 'Extra Details' }}
    </button>

    <div *ngIf="showExtraDetails" class="extra-details-content">
      <p><strong class="bold-text">NickName:</strong> {{ partnerExtraDetails?.nickName || 'N/A' }}</p>
      <p><strong class="bold-text">Preferred Phone Number:</strong> {{ partnerExtraDetails?.preferredPhoneNumber || 'N/A' }}</p>
      <p><strong class="bold-text">Locale:</strong> {{ partnerExtraDetails?.locale || 'N/A' }}</p>
      <p><strong class="bold-text">Is Phone Verified:</strong> {{ partnerExtraDetails?.isPhoneVerified || 'N/A' }}</p>
    </div>
  </div>
</div>

  <!-- Packages Cards Section -->
<div class="packages-container">
  <button class="add-package-btn" (click)="openAddPackageDialog()">
    + Add Package
  </button>
  <h3>Packages</h3>
  <div class="package-card" *ngFor="let pkg of partnerPackagesList">
    <h4>{{ pkg.packageName }}</h4>

    <p><strong>Vat:</strong> {{ pkg.vat }}</p>
    <p><strong>Country:</strong> {{ pkg.country }} {{ pkg.countryCode }}</p>
    <p><strong>City:</strong> {{ pkg.city }}</p>
    <p><strong>Currency:</strong> {{ pkg.currency }}</p>
    <p><strong>Duration:</strong> {{ pkg.extraDetails.duration }}</p>
    <p><strong>Package Description:</strong> {{ pkg.extraDetails.packageDescription }}</p>
    <p><strong>Private Cars:</strong> {{ pkg.extraDetails.PrivateCars }}</p>
    <p><strong>Vans Or Similar:</strong> {{ pkg.extraDetails.VansOrSimilar }}</p>
    <p><strong>SUVs:</strong> {{ pkg.extraDetails.SUVs }}</p>
    <p><strong>Number Of Services:</strong> {{ pkg.extraDetails.numberOfServices }}</p>


    <!-- Questions Section -->
<div *ngIf="pkg.questions?.length">
  <h5>Questions:</h5>
  <div *ngFor="let question of pkg.questions; let i = index" class="question-block">
    <p><strong>#{{ i + 1 }}</strong></p>
    <p><strong>Text:</strong> {{ question.text }}</p>
    <p><strong>Type:</strong> {{ question.type }}</p>
    <p><strong>Expected Answer:</strong> {{ question.expectedAnswer }}</p>
    <p><strong>Mandatory:</strong> {{ question.mandatory ? 'Yes' : 'No' }}</p>

    <button class="edit-question-btn" (click)="openEditQuestionDialog(pkg.id, question)">Edit Question</button>
  </div>
</div>


  </div>
</div>


