<h2 class="dialog-title">Partner Information</h2>

<div class="dialog-content">
  <div class="partner-info">
    <div class="photo-container">
        <img [src]="partner.photoUrl" alt="Partner Photo" class="partner-photo" />
      </div>
          
    <p><strong class="bold-text">Name:</strong> {{ partner.name }}</p>
    <p><strong class="bold-text">Email:</strong> {{ partner.email }}</p>
    <p><strong class="bold-text">Phone:</strong> {{ partner.phoneNumber }}</p>
    <p><strong class="bold-text">Verified phone:</strong> {{ partner.isPhoneVerified }}</p>
    <p><strong class="regions">Regions:</strong> </p>
    <div *ngFor="let region of regionsList" class="region-block">
        <div class="region-row">
          <p><strong class="bold-text">Country Code:</strong> {{ region.countryCode }}</p>
          <p><strong class="bold-text">Country:</strong> {{ region.country }}</p>
          <p><strong class="bold-text">City:</strong> {{ region.city }}</p>
        </div>
      </div>
      
    <button 
      class="toggle-btn"
      [ngClass]="showExtraDetails ? 'less-details' : 'extra-details'"
      (click)="toggleExtraDetails()">
      {{ showExtraDetails ? 'Less Details' : 'Extra Details' }}
    </button>

    <div *ngIf="showExtraDetails" class="extra-details-content">
      <p><strong class="bold-text">NickName:</strong> {{ partnerExtraDetails?.nickName || 'N/A' }}</p>
      <p><strong class="bold-text">Preferred Phone Number:</strong> {{ partnerExtraDetails?.preferredPhoneNumber || 'N/A' }}</p>
      <p><strong class="bold-text">Locale:</strong> {{ partnerExtraDetails?.locale || 'N/A' }}</p>
      <p><strong class="bold-text">Is Phone Verified:</strong> {{ partnerExtraDetails?.isPhoneVerified || 'N/A' }}</p>
    </div>
  </div>
</div>

<div class="dialog-actions">
  <button class="close-btn" (click)="onClose()">Close</button>
</div>
