<div class="form-group mb-3 d-flex align-items-center">
    <i class="search f-12" antIcon type="search" theme="outline"></i>
    <input type="search" class="form-control border-0 shadow-none"
        placeholder="Search by number, customer name, or partner name" [(ngModel)]="state.searchTerm" />
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th (click)="toggleSort('number')">
                    Number
                    <span *ngIf="state.sortColumn === 'number'">
                        <i nz-icon [nzType]="'caret-up'" *ngIf="state.sortDirection === 'asc'"></i>
                        <i nz-icon [nzType]="'caret-down'" *ngIf="state.sortDirection === 'desc'"></i>

                    </span>
                </th>
                <th (click)="toggleSort('arrivalTimeFrom')">
                    Arrival Time
                    <span *ngIf="state.sortColumn === 'arrivalTimeFrom'">
                        <i nz-icon [nzType]="'caret-up'" *ngIf="state.sortDirection === 'asc'"></i>
                        <i nz-icon [nzType]="'caret-down'" *ngIf="state.sortDirection === 'desc'"></i>

                    </span>
                </th>
                <th (click)="toggleSort('customer.name')">
                    Customer Name
                    <span *ngIf="state.sortColumn === 'customer.name'">
                        <i nz-icon [nzType]="'caret-up'" *ngIf="state.sortDirection === 'asc'"></i>
                        <i nz-icon [nzType]="'caret-down'" *ngIf="state.sortDirection === 'desc'"></i>

                    </span>
                </th>
                <th (click)="toggleSort('totalItemsPrice')">
                    Total Price
                    <span *ngIf="state.sortColumn === 'totalItemsPrice'">
                        <i nz-icon [nzType]="'caret-up'" *ngIf="state.sortDirection === 'asc'"></i>
                        <i nz-icon [nzType]="'caret-down'" *ngIf="state.sortDirection === 'desc'"></i>

                    </span>
                </th>
                <th (click)="toggleSort('totalTransactionsAmount')">
                    Total Transactions
                    <span *ngIf="state.sortColumn === 'totalTransactionsAmount'">
                        <i nz-icon [nzType]="'caret-up'" *ngIf="state.sortDirection === 'asc'"></i>
                        <i nz-icon [nzType]="'caret-down'" *ngIf="state.sortDirection === 'desc'"></i>

                    </span>
                </th>
                <th (click)="toggleSort('lastReservationEvents.statusText')">
                    Status
                    <span *ngIf="state.sortColumn === 'lastReservationEvents.statusText'">
                        <i nz-icon [nzType]="'caret-up'" *ngIf="state.sortDirection === 'asc'"></i>
                        <i nz-icon [nzType]="'caret-down'" *ngIf="state.sortDirection === 'desc'"></i>

                    </span>
                </th>
                <th (click)="toggleSort('assignedPartners.0.name')">
                    Partner
                    <span *ngIf="state.sortColumn === 'assignedPartners.0.name'">
                        <i nz-icon [nzType]="'caret-up'" *ngIf="state.sortDirection === 'asc'"></i>
                        <i nz-icon [nzType]="'caret-down'" *ngIf="state.sortDirection === 'desc'"></i>

                    </span>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="!isLoading else loading">
            <tr *ngFor="let res of filteredAndSortedReservations; trackBy: trackByReservationNumber">
                <td>{{ res.number }}</td>
                <td>{{ res.arrivalTimeFrom }}</td>
                <td>{{ res.customer?.name }}</td>
                <td>{{ res.totalItemsPrice }}</td>
                <td>{{ res.totalTransactionsAmount }}</td>
                <td>{{ res.lastReservationEvents?.statusText }}</td>
                <td>{{ res.assignedPartners?.[0]?.name || 'N/A' }}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="isError" class="alert alert-danger">
        {{ errorMessage }}
    </div>
</div>

<ng-template #loading>
    <p>Loading reservations...</p>
</ng-template>