table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;

  th,
  td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
  }

  tr:hover {
    background-color: #f9f9f9;
  }

  img {
    border-radius: 4px;
  }

  .table-container {
    overflow-x: auto;
  }


  input[type="text"] {
    width: 258px;
    max-width: 600px; /* Increased width */
    padding: 12px 18px;
    font-size: 16px;
    border: 2px solid #1976d2; /* Blue border */
    border-radius: 8px;
    outline: none;
    background-color: #ffffff; /* White background */
    color: #333; /* Dark text */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  input[type="text"]:focus {
    border-color: #1e88e5; /* Darker blue on focus */
    box-shadow: 0 0 8px rgba(30, 136, 229, 0.5); /* Glowing blue effect */
  }
  
  

}