<!-- <div style="display: flex; justify-content: center; padding: 20px;">
  <input
    type="text"
    placeholder="Search by name, email or phone"
    [(ngModel)]="searchTerm"
  />
</div> -->
<div class="form-group mb-0 d-flex align-items-center">
  <i class="search f-12" antIcon type="search" theme="outline"></i>
  <input type="search" class="form-control border-0 shadow-none" placeholder="Search by name, email or phone"
    [(ngModel)]="state.searchTerm" />
</div>



<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Photo</th>
        <th (click)="toggleSort('name')">
          Name
          <span *ngIf="state.sortColumn === 'name'">
            <i nz-icon [nzType]="'caret-up'" *ngIf="state.sortDirection === 'asc'"></i>
            <i nz-icon [nzType]="'caret-down'" *ngIf="state.sortDirection === 'desc'"></i>
          </span>
        </th>
        <th (click)="toggleSort('email')">
          Email
          <span *ngIf="state.sortColumn === 'email'">
            <i nz-icon [nzType]="'caret-up'" *ngIf="state.sortDirection === 'asc'"></i>
            <i nz-icon [nzType]="'caret-down'" *ngIf="state.sortDirection === 'desc'"></i>
          </span>
        </th>
        <th (click)="toggleSort('phoneNumber')">
          Phone Number
          <span *ngIf="state.sortColumn === 'phoneNumber'">
            <i nz-icon [nzType]="'caret-up'" *ngIf="state.sortDirection === 'asc'"></i>
            <i nz-icon [nzType]="'caret-down'" *ngIf="state.sortDirection === 'desc'"></i>
          </span>
        </th>

        <th>Suspension Status</th>
        <th>Approval Status</th>
        <th>Info</th>
      </tr>
    </thead>

    <tbody *ngIf="!isLoading else loading">
      <tr *ngFor="let partner of filteredAndSortedPartners; ">

        <td>
          <img *ngIf="partner.photoUrl; else defaultImage" [src]="partner.photoUrl" alt="Photo" width="50"
            height="50" />
          <ng-template #defaultImage>
            <img src="assets/images/user/defaultuser.jpg" alt="Default Photo" width="50" height="50" />
          </ng-template>
        </td>
        <td>{{ partner.name }}</td>
        <td>{{ partner.email }}</td>
        <td>{{ partner.phoneNumber }}</td>
        <td>
          <button (click)="toggleSuspension(partner)" [ngClass]="{
                      'approve': partner.isSuspended === null,
                      'suspend': partner.isSuspended === true,
                      'reactivate': partner.isSuspended === false
                    }" class="status-btn">
            {{ getStatusLabel(partner.isSuspended) }}
          </button>
        </td>
        <td>
          <button (click)="toggleApproval(partner)" [ngClass]="{
      'suspend': partner.isApproved === true,
      'reactivate': partner.isApproved === false
    }" class="status-btn">
            {{ partner.isApproved ? 'Reject' : 'Approve' }}
          </button>
        </td>

        <td>
          <i class="material-icons info-icon" (click)="showPartnerInfo(partner)" title="More info">info</i>
        </td>

      </tr>
    </tbody>

  </table>
  <div *ngIf="isError" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>

<ng-template #loading>
  <p>Loading partners...</p>
</ng-template>